/**********************************

Use: Reset Styles for all browsers

***********************************/
* {
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body, p, blockquote {
  margin: 0;
  padding: 0; }

a img, iframe {
  border: none; }

/* Headers
------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%; }

/* Lists
------------------------------*/
ul, ol, dl, li, dt, dd {
  margin: 0;
  padding: 0; }

/* Links
------------------------------*/
/* Forms
------------------------------*/
form, fieldset {
  margin: 0;
  padding: 0; }

fieldset {
  border: 1px solid #000; }

legend {
  padding: 0;
  color: #000; }

@font-face {
  font-family: 'BreePeru_Bold';
  src: url("../fonts/BreePeru_Bold.otf") format("opentype"); }

@font-face {
  font-family: 'BreePeru_Regular';
  src: url("../fonts/BreePeru_Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FF_Clan_OT_Bold';
  src: url("../fonts/FF_Clan_OT_Bold.otf") format("opentype"); }

@font-face {
  font-family: 'FF_Clan_OT_News';
  src: url("../fonts/FF_Clan_OT_News.otf") format("opentype"); }

/*PAGES*/
.multi_banner .carousel-inner {
  background: url(img/banner.jpg) top center no-repeat;
  background-size: cover; }
